@media screen and (max-width:600px)  {
    body{
        /* background: black; */
    }

    .linkholder ul{
        /* border: 2px solid brown; */
        height: 100%;
        width: 120px;
        margin-left: 70px;
        display: flex;
        list-style: none; 
        /* justify-content: space-between;
        align-items: center; */
      }
      .nav{
        /* border: 2px solid blue; */
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        background: rgb(2, 2, 78);
      }








}